html,body,div,span,h1,h2,h3,h4,h5,h6,img,input,button,p,a,menu,nav,header,footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 50;
}
header .logo{
    width: 100%;
    /* padding-left: 2em; */
    line-height: 80px;
    text-align: center;
}
header .logo img{
    width: auto!important;
}
header .logo .pic-1{
    height: 60px;
    vertical-align: middle;
}
header .logo .pic-2{
    height: 40px;
    vertical-align: middle;
}
header .search{
    width: 30%;
    text-align: right;
    padding-right: 1em;
    line-height: 80px;
}
header .search input{
    width: 150px;
    height: 30px;
    font-size: 16px;
    display: none;
    position: absolute;
    top: calc(40px - 15px);
    right: calc(1em + 30px);
}
header .search #search-btn{
    width: 30px;
    height: 30px;
    background-color: #BCC0C8!important;
    text-align: center;
    line-height: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: calc(40px - 15px);
    right: 1em;
}
header #hamburger{
    /* width: 2em; */
    width: 100%;
    height: 2.4em;
    position: absolute;
    top: calc(90px - 1.1em);
    right: 0em;
    background-color: rgb(78, 125, 166  );
}
header #hamburger *[class^=ham]{
    width: 2em;
    height: 2px;
    background-color: #BCC0C8;
    position: absolute;
    right: 1.1em;
    transform-origin: 0 1px;
}
header #hamburger .hamT{
    top: 0.7em;
}
header #hamburger .hamM{
    top: calc(1.2em - 1px);
}
header #hamburger .hamB{
    bottom: 0.7em;
}
nav{
    display: none;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    background-color: #4E7DA6;
    color: #ffffff;
}
nav ul{
    width: 100%;
    text-align: center;
    background-color: #4E7DA6;
}
nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    font-size: 20px;
    padding: 0 0.8em;
    margin-left: -2em;
    transition: all 500ms ease;
}
nav ul li:hover a{
    color: #eff2f7;
    background-color: #051e2e;
}
nav ul li a.action{
    background-color: #C0362C;
}
#news{
    margin-top: 100px;
    padding: 0 1em 2em;
}
#news hr{
    margin: 0.5em 0;
}
#news .bammer-top{
    font-weight: 900;
    background-color: #bcc1c7;
    padding: 0.2em;
}
#news .content-text h3{
    padding: 0.5em 0;
    color: #C0362C;
}
#news .content-text h5{
    padding: 0.5em 0;
    color: #6D86A6;
    font-weight: bold;
}
#news .content-text p{
    padding: 0.5em 0;
    padding-left: 0.5em;
    border-left: 2px solid #7E8B9B;
}
#menu {
    position: fixed;
    right: -3em;
    top: 62%;
    width: 5em;
    margin-top: -2.5em;
    list-style-type:none;
    z-index: 100;
  }
#menu li a i{
    color: rgb(188, 192, 200);
}
#menu .fa-facebook-square:hover{
    color: #3B5793;
}
#menu .fa-line:hover{
    color: #00B400;
}
#menu .fa-instagram-square:hover{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg,yellow 15%,red 40%,indigo 80%);
}
#menu .fa-twitter-square:hover{
    color: #1C96E8;
}
#menu .share{
    width: 1.5em;
    position: absolute;
    top: 1.5em;
    left: 0;
    padding: 1em 0;
    text-align: center;
    background-color: #4E7DA6;
    color: #FFFFFF;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}
footer{
    padding: 2em;
    text-align: center;
    color:#F2EDE4;
    background-color: #1C2D44;
}
@media only screen and (min-width: 768px){
    header #hamburger{
        display: none;
    }
    header .logo{
        width: 70%;
        padding-left: 2em;
        line-height: 80px;
        text-align: left;
    }
    header .search input{
        width: 150px;
        height: 30px;
        font-size: 16px;
        display: inline;
    }
    header .search #search-btn{
        position: static;
        background-color: #BCC0C8;
    }
    nav{
        display: block!important;
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        background-color: #0E3248;
        color: #eef2f7;
    }
    nav ul{
        width: 100%;
        text-align: center;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: block;
        font-size: 20px;
        padding: 0 0.8em;
        transition: all 500ms ease;
        margin-left: 0;
    }
    nav ul li:hover a{
        color: #a3acb8;
        background-color: #051e2e;
    }
    #news{
        margin-top: 100px;
        padding: 0 4em 2em;
    }
}