<p>本院於民國112年3月3日假國際會議廳舉辦創辦人蔣宋美齡女士126歲華誕感恩紀念活動，紀念會採實體與視訊同步進行。本院尹衍樑董事長特別出席致詞，表達對創辦人的懷念，並肯定同仁秉持創辦人創院的精神，持續發展精進醫療服務。當天與會貴賓包括：劉榮宏董事及夫人、丁守中董事、童子賢董事、趙元旗董事及夫人、陳秦舜英榮譽董事、丁史美暢榮譽董事等多位現任或前任董事出席。
</p>
<p>魏崢院長致詞時則緬懷蔣夫人的事蹟，由於蔣夫人預見小兒麻痺帶來的社會問題，立即籌備創辦振興復健醫學中心，魏院長鼓勵同仁秉持創辦人的開創精神，永續傳承「慈善心．服務情」的宗旨以照顧廣大病人。
</p>
<p>民國53年，有鑒於國內小兒麻痺病毒肆虐，蔣夫人著手籌備振興育幼院，照顧小兒麻痺病童。民國56年正式落成，並於同年9月更名為振興復健醫學中心，以備將來添設矯治醫院、訓練醫務及復健人員。在蔣夫人及各界奔走下，更獲得聯合國、美國援華醫療促進會、世界復健基金會等各國的認可與支持，最終從小兒麻痺照護拓展為醫療、教育、身心發展的完整復健中心。
</p>
<p>自民國56年開始收治患童，免費收治3萬5千名院童。治療方式包括手術、水療、輔具、義肢等，並透過完善的復健系統，幫助院童提高肢體功能，達到自主生活的能力。在此的生活環境與人道關懷，讓院童不再因小兒麻痺失去笑顏，振興，不再只是醫院、復健中心、育幼院，更成為一個大家庭。
</p>
<p>當天最感人的是小兒麻痺院童代表周時屏先生致詞，周先生憶起與振興的緣分。其童年時原本就讀的小學設施欠缺並遭同學霸凌，致使周先生未能完成國小教育，民國58年來到振興後，上午學習課業、下午進行物理治療及水療，在小兒麻痺患童治療的黃金時期接受專業的醫治，甚至還有國外醫療專家到院指導，是當時國內創舉。除了學習與治療，院童的食衣住行，也有專人照顧，完全免費的服務嘉惠許多家庭經濟困難的院童。蔣夫人還經常在晚間到院巡視院童狀況，噓寒問暖、撫慰院童，節慶時則到院欣賞院童表演節目。周先生離開振興後，學習成績優異，大學畢業即進入工研院任職，但因為當時國內對無障礙設施的觀念薄弱，周先生的成長過程無比艱辛，遭受的挫折與困難更難以言語形容。周先生憑藉自身的毅力及努力，開展腳步到美國留學，回國後陸續在中科院及知名電子公司任職，更創辦電腦軟體公司，卓然有成。回憶至此，周先生再次感念蔣夫人，他謙虛的表示，如今的小小成就都是蔣夫人所給予的，因蔣夫人、因振興，他才能起身走路，擁有光明的人生。
</p>
<p>本院創院迄今已近56年，期間也成功歷經轉型，不斷追求進步，目前規劃興建第三醫療大樓，朝向國際醫院邁進，但永遠不變的是創院時的宗旨；「慈善心‧服務情」的精神。現時今日振興依然懷抱初衷，提供以人為尊的服務，為善更不落人後，時刻謹記創辦人蔣宋美齡女士所揭示的社會責任。
</p>

<strong style="color:rgb(176, 56, 5)"></strong>
<strong style="color:rgb(242, 110, 34)"></strong>