<p> 第28屆亞太經導管介入治療年會於2023年4月22日至4月25日於韓國首爾舉行，經大會及台灣介入性心臟血管醫學會邀請，本院心臟血管內科曹殿萍主任於會中報告本院瓣膜治療團隊「經導管主動脈瓣膜置換術」手術中使用「腦保護裝置」的經驗，獲得好評。</p>
<p>「腦保護裝置」是2021年由本院魏崢院長引進，於「經導管主動脈瓣膜置換
    術」手術前經由導管在病人兩側的頸動脈血管近端各放置一個濾網；手術中因為
    器械操作造成的血栓、瓣膜碎片或動脈組織等雜質，有九成以上可以經由兩側的
    濾網補獲並於術後移除，證實「腦保護裝置」確實有一定的成效。
    </p>
<p>根據大型臨床實驗證實，術中使用「腦保護裝置」可以顯著降低手術後發生嚴重腦中風的機率。本院接受「經導管主動脈瓣膜置換術」手術的病人，絕大多數都同意在術中暫時植入「腦保護裝置」，迄今已經有超過百位病人使用，其中
    幾乎沒有任何發生嚴重腦中風的病例，成效良好。
    </p>
<p>本次會議中，心臟血管內科傅浩能醫師、陳世中醫師、林煥湫醫師及林靜醫
    師也分別受邀在會議中發表精彩的病例報告，獲得與會專家一致的好評，林煥湫
    醫師更是獲得最佳案例報告獎的殊榮，顯示本院心臟醫療團隊優良水準超越亞太
    地區。
    </p>    


<strong style="color:rgb(176, 56, 5)"></strong>
<strong style="color:rgb(242, 110, 34)"></strong>